extends layout

block content
  h1= title
  p Welcome to #{title}
  p #{user}
  div
    a(href='/login') login
  div
    a(href='/page1') page1
  div
    a(href='/page2') page2
  div
    a(href='/page3') page3
